Repository dcyfr/dcyfr-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: Lint-staged configuration with design token enforcement, eslint --fix, prettier --write, node scripts/validate-design-tokens.mjs

.lintstagedrc.json:

{
  "comment": "Lint-staged configuration with design token enforcement",
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/lib/design-tokens.ts": [
    "node scripts/validate-design-tokens.mjs"
  ],
  "*.{js,jsx,mjs,cjs}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix(contact+newsletter): harden contact scan fallback and use segment-only newsletter contacts
  src/__tests__/integration/api-newsletter.test.ts
  src/app/api/newsletter/route.ts
Due: eslint --fix, prettier --write

feat: add demo UI components post and update frontmatter parsing logic
  public/search-index.json
  src/app/admin/analytics/page.tsx
  src/app/api/engagement/bookmark/route.ts
  src/lib/markdown/parse-frontmatter.ts
  vercel.json
Due: eslint --fix, prettier --write

fix(deps): refresh lockfile to patched dependency versions (#356)
  package-lock.json
  package.json
Due: prettier --write

fix(deps): add @axiomhq/js override to resolve ERESOLVE peer dep conflict
  package.json
Due: prettier --write

fix(data): update generatedAt timestamps in search-index and credly-badges snapshots
  public/search-index.json
  src/data/credly-badges-snapshot.json
Due: prettier --write

fix(tsconfig): remove deprecated baseUrl to fix TS6 build error
  tsconfig.json
Due: prettier --write

chore: revert unrelated generated file changes from PR #372
  public/search-index.json
  src/data/credly-badges-snapshot.json
Due: prettier --write

fix: add legacy-peer-deps to resolve @axiomhq/logging peer dep conflict
  .npmrc
Due: none

fix: add legacy-peer-deps=true to resolve @axiomhq/logging peer dep conflicts (#374)
  .npmrc
Due: none

fix(docs): update README links and improve formatting in search-index and credly-badges snapshots
  README.md
  public/search-index.json
  src/data/credly-badges-snapshot.json
Due: prettier --write

docs: adopt Linear DCYFR-<NUMBER> convention
  CONTRIBUTING.md
Due: prettier --write

fix: Inngest v4 migration, vite@8, security audit & CI fixes
  .gitignore
  docs/features/google-indexing-integration-examples.ts
  package-lock.json
  package.json
  src/inngest/activity-cache-functions.ts
  src/inngest/api-cost-monitoring.ts
  src/inngest/blog-functions.ts
  src/inngest/contact-functions.ts
  src/inngest/credly-cache-functions.ts
  src/inngest/error-handler.ts
  src/inngest/functions.ts
  src/inngest/functions/dependency-security-audit.ts
  src/inngest/functions/design-token-validation.ts
  src/inngest/functions/sync-inoreader-feeds.ts
  src/inngest/github-functions.ts
  src/inngest/google-indexing-functions.ts
  src/inngest/indexnow-functions.ts
  src/inngest/ip-reputation-functions.ts
  src/inngest/newsletter-functions.ts
  src/inngest/security-functions.ts
  src/inngest/session-management.ts
  src/inngest/social-analytics-functions.ts
  src/inngest/update-analytics-milestones.ts
  src/lib/inngest/prompt-security.ts
  tests/unit/indexnow-functions.test.ts
Due: eslint --fix, prettier --write

fix(governance): resolve TLP compliance errors — 20 fixes
  docs/MEMORY_SETUP.md
  docs/analysis/private/production-only-refactor-analysis.md
  docs/automation/private/pr-resolution-plan-implementation.md
  docs/components/private/skeleton-refactor-p0-complete.md
  docs/delegation/observability-integration.md
  docs/guides/AUTOMATED_REPO_SHOWCASE.md
  docs/guides/DESIGN_TOKENS_COMPREHENSIVE.md
  docs/guides/V1_MIGRATION_QUICKSTART.md
  docs/operations/CACHE_MANAGEMENT.md
  docs/operations/private/reports-directory.md
  docs/operations/root-config-consolidation-2026-02-27.md
  docs/optimization/channel-automation-monitoring.md
  docs/optimization/reddit-policy-safe-workflow.md
  docs/plans/IMPLEMENTATION_PLANS_ARCHIVE.md
  docs/platform/private/redis-environment-separation-implementation.md
  docs/reports/MEM0AI_COMPATIBILITY_VALIDATION_2026_03_06.md
  docs/reports/PHASE_COMPLETION_CONSOLIDATED.md
  docs/security/dependabot-accepted-risks.md
  docs/security/private/api-route-security-remediation-audit.md
  docs/security/private/phase-8.6-test-validation-report.md
  docs/testing/lighthouse/private/README.md
  docs/testing/private/failing-tests-analysis-2026-01-26.md
  docs/testing/private/test-analysis-summary-2026-01-25.md
  migrate_inngest.py
Due: prettier --write

chore: trigger CodeQL for PR — docs-only changes don't activate scanner
  src/types.ts
Due: eslint --fix, prettier --write

fix(governance): resolve TLP compliance — 23 doc fixes
  docs/MEMORY_SETUP.md
  docs/analysis/private/production-only-refactor-analysis.md
  docs/architecture/api-architecture.md
  docs/architecture/auth-flow.md
  docs/architecture/feature-comparison.md
  docs/automation/private/pr-resolution-plan-implementation.md
  docs/components/private/skeleton-refactor-p0-complete.md
  docs/delegation/observability-integration.md
  docs/guides/AUTOMATED_REPO_SHOWCASE.md
  docs/guides/DESIGN_TOKENS_COMPREHENSIVE.md
  docs/guides/V1_MIGRATION_QUICKSTART.md
  docs/operations/CACHE_MANAGEMENT.md
  docs/operations/private/reports-directory.md
  docs/operations/root-config-consolidation-2026-02-27.md
  docs/optimization/channel-automation-monitoring.md
  docs/optimization/reddit-policy-safe-workflow.md
  docs/plans/IMPLEMENTATION_PLANS_ARCHIVE.md
  docs/platform/private/redis-environment-separation-implementation.md
  docs/reports/MEM0AI_COMPATIBILITY_VALIDATION_2026_03_06.md
  docs/reports/PHASE_COMPLETION_CONSOLIDATED.md
  docs/security/dependabot-accepted-risks.md
  docs/security/private/api-route-security-remediation-audit.md
  docs/security/private/phase-8.6-test-validation-report.md
  docs/testing/lighthouse/private/README.md
  docs/testing/private/failing-tests-analysis-2026-01-26.md
  docs/testing/private/test-analysis-summary-2026-01-25.md
  migrate_inngest.py
  src/types.ts
Due: eslint --fix, prettier --write

fix(ci): remap 1Password op:// references to existing Production vault items
  .github/workflows/cache-refresh.yml
  .github/workflows/lighthouse-ci.yml
  .github/workflows/nuclei-scan.yml
  .github/workflows/prose-validation.yml
  .github/workflows/sync-production-metrics.yml
  .github/workflows/test-preview-fast.yml
  .github/workflows/test.yml
  .github/workflows/vercel-checks.yml
  .github/workflows/vercel-deployment-remediation.yml
  .github/workflows/visual-regression.yml
  .github/workflows/weekly-test-health.yml
Due: prettier --write

fix(ci): complete 1Password op:// remapping + create missing vault items (#389)
  .github/workflows/auto-calver.yml
  .github/workflows/cache-refresh.yml
  .github/workflows/codeql.yml
  .github/workflows/lighthouse-ci.yml
  .github/workflows/nuclei-scan.yml
  .github/workflows/sync-production-metrics.yml
  .github/workflows/test-preview-fast.yml
  .github/workflows/test.yml
  .github/workflows/vercel-checks.yml
  .github/workflows/vercel-deployment-remediation.yml
  .github/workflows/visual-regression.yml
  .github/workflows/weekly-test-health.yml
Due: prettier --write

feat(blog): show demo posts in preview environments
  src/__tests__/lib/blog.test.ts
  src/content/blog/demo-code/index.mdx
  src/content/blog/demo-diagrams/index.mdx
  src/content/blog/demo-latex-math/index.mdx
  src/content/blog/demo-markdown/index.mdx
  src/content/blog/demo-ui/index.mdx
  src/lib/blog.server.ts
Due: eslint --fix, prettier --write

chore(deps): raise axios override floor to 1.15.0
  .github/workflows/sync-production-metrics.yml
  LICENSE
  README.md
  package-lock.json
  package.json
  public/search-index.json
  tsconfig.json
Due: prettier --write

ci(lighthouse): downgrade render-blocking-resources to warn
  .lighthouse/rc.json
Due: prettier --write

fix: re-enable BotID validation in contact API and next.config (#398)
  next.config.ts
  src/app/api/contact/route.ts
Due: eslint --fix, prettier --write

chore(cleanup): phase 3 dependency trim
  package-lock.json
  package.json
  src/__tests__/agents/agent-unification.test.ts
Due: eslint --fix, prettier --write

chore(cleanup): phase 4 partial — dated docs to _private/
  docs/_private/README.md
  docs/_private/operations/root-config-consolidation-2026-02-27.md
  docs/_private/reports/MEM0AI_COMPATIBILITY_VALIDATION_2026_03_06.md
  docs/_private/reports/PHASE_COMPLETION_CONSOLIDATED.md
  docs/_private/reports/PRODUCTION_WARNINGS_REMEDIATION_SESSION_2026_03_06.md
  scripts/docs-rationalize.mjs
Due: eslint --fix, prettier --write

fix(deps): restore xsschema peer chain (sury, effect, valibot, @valibot/to-json-schema)
  _deprecated/src/app/api/admin/agent-health/route.ts
  _deprecated/src/app/api/analytics/daily/route.ts
  _deprecated/src/app/uses/page.tsx
  package-lock.json
  package.json
  public/search-index.json
Due: eslint --fix, prettier --write

fix(next-config): import withBotId from botid/next/config
  next.config.ts
Due: eslint --fix, prettier --write

Cleanup: dcyfr-labs-cleanup (phases 0,3,4,5,6,8 + Phase 1 conservative) (#399)
  .github/copilot-instructions.md
  .github/workflows/repo-budget-guardrails.yml
  .well-known/automation.yaml
  AGENTS.md
  CLAUDE.md
  README.md
  _deprecated/src/app/api/admin/agent-health/route.ts
  _deprecated/src/app/api/analytics/daily/route.ts
  _deprecated/src/app/uses/page.tsx
  docs/_archived/AGENTS-2026-04.md
  docs/_archived/CLAUDE-2026-04.md
  docs/_archived/README-2026-04.md
  docs/_archived/copilot-instructions-2026-04.md
  docs/_inventory/deps.md
  docs/_inventory/docs.md
  docs/_inventory/external-refs.md
  docs/_inventory/routes.md
  docs/_inventory/scripts.md
  docs/_inventory/topline-claims.md
  docs/_inventory/workflows.md
  docs/_private/README.md
  docs/_private/operations/root-config-consolidation-2026-02-27.md
  docs/_private/reports/MEM0AI_COMPATIBILITY_VALIDATION_2026_03_06.md
  docs/_private/reports/PHASE_COMPLETION_CONSOLIDATED.md
  docs/_private/reports/PRODUCTION_WARNINGS_REMEDIATION_SESSION_2026_03_06.md
  docs/automation-glossary.md
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
  public/search-index.json
  schemas/automation-manifest.schema.json
  scripts/_inventory.mjs
  scripts/docs-rationalize.mjs
  scripts/validate-automation-manifest.mjs
  src/__tests__/agents/agent-unification.test.ts
  tsconfig.json
  vitest.config.ts
Due: eslint --fix, prettier --write

ci: fix TLP compliance + depcheck ratchet for _private/ and peer-chain restore
  .github/workflows/repo-budget-guardrails.yml
  docs/_archived/AGENTS-2026-04.md
  docs/_archived/CLAUDE-2026-04.md
  docs/_archived/README-2026-04.md
  docs/_archived/copilot-instructions-2026-04.md
  docs/_private/operations/root-config-consolidation-2026-02-27.md
  docs/_private/reports/MEM0AI_COMPATIBILITY_VALIDATION_2026_03_06.md
  docs/_private/reports/PHASE_COMPLETION_CONSOLIDATED.md
  docs/_private/reports/PRODUCTION_WARNINGS_REMEDIATION_SESSION_2026_03_06.md
  scripts/validate-tlp-compliance.mjs
Due: eslint --fix, prettier --write

fix(validator): verify withBotId import subpath actually resolves
  scripts/validation/validate-botid-setup.mjs
Due: eslint --fix, prettier --write

chore(ci): prune 22 redundant and deprecated workflows
  .github/workflows/codeql-autofix.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-dashboard.yml
  .github/workflows/design-token-validation.yml
  .github/workflows/governance-validation.yml
  .github/workflows/mcp-server-check.yml
  .github/workflows/monthly-security-review.yml
  .github/workflows/nuclei-scan.yml
  .github/workflows/nuclei-templates-sync.yml
  .github/workflows/perf-monitor.yml
  .github/workflows/pr-resolution-plan.yml
  .github/workflows/pr-review-automation.yml
  .github/workflows/protect-preview-branch.yml
  .github/workflows/regenerate-diagrams.yml
  .github/workflows/sast-semgrep.yml
  .github/workflows/sbom-generation.yml
  .github/workflows/sync-production-metrics.yml
  .github/workflows/update-baseline-mapping.yml
  .github/workflows/validate-botid.yml
  .github/workflows/validate-dependabot.yml
  .github/workflows/visual-regression.yml
  .github/workflows/workflow-health-report.yml
Due: prettier --write

Refactor code structure for improved readability and maintainability
  eslint-local-rules/index.js
  eslint-local-rules/no-deprecated-design-tokens.js
  eslint-local-rules/no-hardcoded-colors.js
  eslint-local-rules/no-hardcoded-spacing.js
  eslint-local-rules/no-hardcoded-typography.js
  eslint.config.mjs
  package-lock.json
  package.json
  src/lib/design-tokens.ts
Due: eslint --fix, prettier --write, node scripts/validate-design-tokens.mjs

ci(security-review): skip Claude Code on Dependabot PRs
  .github/workflows/security-review.yml
Due: prettier --write

ci(vercel-remediation): scope to Production deployments only
  .github/workflows/vercel-deployment-remediation.yml
Due: prettier --write

ci(auto-calver): make tag creation idempotent (#424)
  .github/workflows/auto-calver.yml
Due: prettier --write

fix(red-team): drop pool/poolOptions config — incompatible with vitest 4.x (#425)
  vitest.red-team.config.ts
Due: eslint --fix, prettier --write
