Repository dcyfr/dcyfr-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: Lint-staged configuration with design token enforcement, eslint --fix, prettier --write, node scripts/validate-design-tokens.mjs

.lintstagedrc.json:

{
  "comment": "Lint-staged configuration with design token enforcement",
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/lib/design-tokens.ts": [
    "node scripts/validate-design-tokens.mjs"
  ],
  "*.{js,jsx,mjs,cjs}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

feat(delegation): add AI delegation observability and event API
  docs/delegation/observability-integration.md
  package.json
  scripts/test-delegation-events.mjs
  src/app/api/delegation/events/route.ts
  src/lib/delegation/observability.ts
Due: eslint --fix, prettier --write

chore: update data files and nuclei templates
  public/search-index.json
  src/data/credly-badges-snapshot.json
  src/lib/delegation/observability.ts
Due: eslint --fix, prettier --write

chore: update Node.js version to 24.13.0 and upgrade GitHub Action versions across workflows; add script for pruning Vercel preview deployments
  .github/workflows/auto-calver.yml
  .github/workflows/design-token-validation.yml
  .github/workflows/governance-validation.yml
  .github/workflows/mcp-server-check.yml
  .github/workflows/nuclei-scan.yml
  .github/workflows/pr-resolution-plan.yml
  .github/workflows/prose-validation.yml
  .github/workflows/sbom-generation.yml
  .github/workflows/security-advisory-monitor.yml
  .github/workflows/security-prompt-scan.yml
  .github/workflows/security-suite.yml
  .github/workflows/sync-production-metrics.yml
  .github/workflows/validate-feeds.yml
  .github/workflows/validate-sitemap.yml
  package.json
  public/search-index.json
  scripts/README.md
  scripts/prune-vercel-preview-deployments.mjs
  src/data/credly-badges-snapshot.json
Due: eslint --fix, prettier --write

feat: enhance API security with rate limiting and authentication checks; add slug validation for engagement endpoints; sanitize HTML in FAQ section
  package.json
  public/search-index.json
  src/__tests__/components/mdx/faq-section.test.tsx
  src/app/api/delegation/events/route.ts
  src/app/api/engagement/bookmark/route.ts
  src/app/api/engagement/like/route.ts
  src/app/api/memory/add/route.ts
  src/app/api/memory/search/route.ts
  src/components/mdx/faq-section.tsx
  src/data/credly-badges-snapshot.json
  tests/security/api-route-hardening.test.ts
Due: eslint --fix, prettier --write

chore: update README for transparency and testing metrics; remove outdated diagnostics and add new CLI diagnostics
  README.md
  codeql/custom/javascript/javascript.testproj/codeql-database.yml
  codeql/custom/javascript/javascript.testproj/db-javascript/default/extraction_time.rel
  codeql/custom/javascript/javascript.testproj/db-javascript/default/extraction_time.rel.meta
  codeql/custom/javascript/javascript.testproj/diagnostic/cli-diagnostics-add-20260217T001528.634Z.json
  codeql/custom/javascript/javascript.testproj/diagnostic/cli-diagnostics-add-20260217T015405.131Z.json
  codeql/custom/javascript/javascript.testproj/trap/javascript/Users/drew/DCYFR/code/dcyfr-workspace/dcyfr-labs/codeql/custom/javascript/codeql-pack.lock.yml.trap.gz
  codeql/custom/javascript/javascript.testproj/trap/javascript/Users/drew/DCYFR/code/dcyfr-workspace/dcyfr-labs/codeql/custom/javascript/codeql-pack.yml.trap.gz
Due: prettier --write

fix(deps): revert @dcyfr/ai to ^1.0.4 (current published version)
  package.json
Due: prettier --write

chore: remove nuclei-templates submodule - will migrate to workspace level
  .gitignore
  .gitmodules
Due: none

security: upgrade fastmcp and axe-core/cli
  package.json
Due: prettier --write

chore: update @langchain/core to version ^1.1.24; add SonarCloud configuration files
  .github/workflows/sonarcloud.yml
  package.json
  sonar-project.properties
Due: prettier --write

fix(security): resolve SonarCloud S7630, S8233, S8264, S2819 vulnerabilities
  .github/workflows/codeql-autofix.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/nuclei-scan.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-resolution-plan.yml
  .github/workflows/privacy-suite.yml
  .github/workflows/release-automation.yml
  .github/workflows/sbom-generation.yml
  .github/workflows/security-prompt-scan.yml
  .github/workflows/security-suite.yml
  .github/workflows/validation-suite.yml
  .github/workflows/visual-regression.yml
  e2e/activity-embed.spec.ts
  src/app/(embed)/embed/activity/activity-embed-client.tsx
Due: eslint --fix, prettier --write

fix(security): S2871 add sort compare, S4335 fix empty type, S2819 fix postMessage origin
  src/__tests__/integration/blog-system.test.ts
  src/__tests__/lib/blog.test.ts
  src/app/(embed)/embed/activity/activity-embed-client.tsx
  src/app/blog/page.tsx
  src/app/dev/mcp-health/components/mcp-health-chart.tsx
  src/app/work/page.tsx
  src/components/blog/rivet/engagement/role-based-cta.tsx
  src/components/inoreader/feeds-list.tsx
  src/data/posts.ts
  src/lib/activity/bookmarks.ts
  src/lib/activity/reactions.ts
  src/lib/archive.ts
  src/lib/search/build-index.ts
  src/mcp/content-provider-impl.ts
Due: eslint --fix, prettier --write

fix(security): S3516 remove dead try-catch, S3776 reduce cognitive complexity in memory API routes
  scripts/release/create-release-notes.mjs
  src/app/api/memory/add/route.ts
  src/app/api/memory/search/route.ts
Due: eslint --fix, prettier --write

fix(quality): reduce cognitive complexity (S3776) in scripts and MCP
  scripts/dev-with-cache.mjs
  scripts/migrate-design-tokens.ts
  scripts/validate-design-tokens.mjs
  scripts/validation/validate-design-tokens.mjs
  src/mcp/shared/redis-client.ts
Due: eslint --fix, prettier --write

refactor: reduce S3776 cognitive complexity batch 1+2 (14 files)
  public/search-index.json
  src/app/api/admin/populate-cache/route.ts
  src/app/api/analytics/route.ts
  src/app/api/contact/route.ts
  src/app/api/dev/verify-redis-env/route.ts
  src/app/api/maintenance/observations/route.ts
  src/app/api/memory/add/route.ts
  src/app/api/memory/search/route.ts
  src/app/blog/page.tsx
  src/data/credly-badges-snapshot.json
  src/hooks/use-global-engagement-counts.ts
  src/lib/activity/sources.server.ts
  src/lib/analytics.server.ts
  src/lib/github-data.ts
  src/lib/security/mcp-integrity.ts
  src/lib/security/prompt-scanner.ts
  src/lib/security/prompt-security-middleware.ts
Due: eslint --fix, prettier --write

refactor: reduce S3776 cognitive complexity - batch 3 (ip-reputation/route.ts)
  src/app/api/ip-reputation/route.ts
Due: eslint --fix, prettier --write

fix(security): S7688 use [[ instead of [ for bash conditionals in shell scripts
  .opencode/scripts/validate-opencode-config.sh
  fix-api-imports.sh
  scripts/audit-suppressions.sh
  scripts/auto-checkpoint.sh
  scripts/checkpoint-stop.sh
  scripts/claude-code-automation.sh
  scripts/performance/find-large-images.sh
  scripts/restore-session-state.sh
  scripts/save-session-state.sh
  scripts/security/audit-suppressions.sh
  scripts/session-recovery.sh
  scripts/setup/cleanup-maintenance.sh
  scripts/setup/sentry/configure-sentry.sh
  scripts/setup/sentry/create-sentry-metric-alerts.sh
  scripts/setup/sentry/fix-sentry-alerts.sh
  scripts/setup/sentry/list-sentry-alerts.sh
  scripts/setup/sentry/setup-sentry-alerts.sh
  scripts/setup/sentry/test-security-alerts.sh
  scripts/setup/sentry/verify-sentry-events.sh
  scripts/setup/setup-opencode.sh
  scripts/setup/utilities/refactor-globals-css.sh
  scripts/validate-nuclei-integration.sh
Due: none

fix(build): add missing function declaration for fetchVercelDataFromRedis
  src/app/api/analytics/route.ts
Due: eslint --fix, prettier --write

fix(security): replace real INDEXNOW_API_KEY with test placeholder in test files
  docs/INDEX.md
  docs/optimization/README.md
  docs/optimization/search-channel-priority-automation.md
  public/search-index.json
  src/app/api/indexnow/submit/route.ts
  src/data/credly-badges-snapshot.json
  src/inngest/google-indexing-functions.ts
  src/inngest/indexnow-functions.ts
  src/lib/indexnow/events.ts
  src/lib/indexnow/indexnow.ts
  src/lib/indexnow/rate-limit.ts
  tests/integration/indexnow-submit-api.test.ts
  tests/lib/indexnow-utils.test.ts
Due: eslint --fix, prettier --write

feat(indexnow): add admin bulk endpoint, dev SEO dashboard, client library, and tests
  README.md
  src/__tests__/lib/blog.test.ts
  src/app/api/admin/indexnow/bulk/route.ts
  src/app/dev/layout.tsx
  src/app/dev/page.tsx
  src/app/dev/seo/page.tsx
  src/app/dev/seo/seo-dashboard-client.tsx
  src/components/sections/social-links-grid.tsx
  src/lib/indexnow/client.ts
  src/lib/indexnow/index.ts
  src/lib/site-config.ts
  tests/integration/indexnow-admin-bulk-api.test.ts
  tests/lib/indexnow-client.test.ts
Due: eslint --fix, prettier --write

fix(tests): use SITE_URL constant in indexnow-client test instead of hardcoded domain
  tests/lib/indexnow-client.test.ts
Due: eslint --fix, prettier --write

fix(quality): S3776 reduce cognitive complexity - batch 4 (analysis/verification scripts)
  docs/INDEX.md
  docs/runbooks/INDEXNOW_TROUBLESHOOTING.md
  scripts/analyze-upstash-data-fast.mjs
  scripts/validation/validate-structured-data.mjs
  scripts/verify-view-tracking.mjs
  scripts/verify-views-shares-safety.mjs
Due: eslint --fix, prettier --write

fix(quality): S3776 reduce cognitive complexity - batch 5 (redis/dev scripts)
  scripts/backlog/scan-backlog.mjs
  scripts/check-old-redis.mjs
  scripts/cleanup-upstash-data.mjs
  scripts/dev-with-cache.mjs
  scripts/revert-to-id-based-views.mjs
Due: eslint --fix, prettier --write

fix(quality): S3776 reduce cognitive complexity - batch 6 (scripts utilities and validation)
  scripts/analyze-emoji-usage.mjs
  scripts/check-comment-density.mjs
  scripts/ci/monthly-cleanup.mjs
  scripts/memory-load-test.mjs
  scripts/port-utils.mjs
  scripts/validate-governance.mjs
  scripts/validate-tlp-compliance.mjs
  src/app/dev/mcp-health/components/mcp-health-chart.tsx
  src/components/blog/rivet/engagement/role-based-cta.tsx
Due: eslint --fix, prettier --write

fix(quality): S7688 add NOSONAR to admin exec/spawn calls in scripts (39 files)
  scripts/ai-cli.mjs
  scripts/backlog/scan-backlog.mjs
  scripts/backlog/whats-next.mjs
  scripts/bump-version-manual.mjs
  scripts/changelog.mjs
  scripts/check-private-references.mjs
  scripts/ci/check-for-pii.mjs
  scripts/ci/check-mcp-servers.mjs
  scripts/ci/create-codeql-fix-branch.mjs
  scripts/ci/monthly-cleanup.mjs
  scripts/ci/security-autofix-cli.mjs
  scripts/ci/validate-security-fix.mjs
  scripts/ci/workflow-health-monitor.mjs
  scripts/dev-utils.mjs
  scripts/dev-with-cache.mjs
  scripts/generate-compliance-report.mjs
  scripts/health-cli.mjs
  scripts/helpers/process-output.mjs
  scripts/mcp-cli.mjs
  scripts/release/bump-version.mjs
  scripts/release/create-release-notes.mjs
  scripts/release/update-changelog.mjs
  scripts/revert-to-id-based-views.mjs
  scripts/security/annual-audit.mjs
  scripts/security/check-all-alerts.mjs
  scripts/security/check-security-alert.mjs
  scripts/security/collect-evidence.mjs
  scripts/security/generate-sbom.mjs
  scripts/security/monthly-audit.mjs
  scripts/security/quarterly-audit.mjs
  scripts/session-cli.mjs
  scripts/testing/test-accessibility.mjs
  scripts/utilities/run-with-dev.mjs
  scripts/validate-changelog-sync.mjs
  scripts/validate-cli.mjs
  scripts/validate-doc-location.mjs
  scripts/validate-governance.mjs
  scripts/validate-prose.mjs
  scripts/validation/validate-design-tokens.mjs
Due: eslint --fix, prettier --write

fix(quality): S3776 reduce cognitive complexity - batch 6 (redis-data per-type helpers)
  scripts/migrate-redis-data.mjs
Due: eslint --fix, prettier --write

fix(tests): resolve pre-commit blocking test failures
  scripts/validation/check-reports-for-pii.mjs
  src/components/blog/rivet/visual/tldr-summary.tsx
Due: eslint --fix, prettier --write
