Repository dcyfr/dcyfr-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: Lint-staged configuration with design token enforcement, eslint --fix, prettier --write, node scripts/validate-design-tokens.mjs

fix(build): externalize @dcyfr/ai to prevent bundling native dependencies
  next.config.ts
Due: eslint --fix, prettier --write

ci: validate sonarcloud 1Password integration
  .github/workflows/sonarcloud.yml
Due: prettier --write

fix(build): add 'use server' directives to prevent client bundling
  next.config.ts
  src/lib/agents/compat.ts
  src/lib/unified-cost-aggregator.ts
Due: eslint --fix, prettier --write

ci: trigger sonarcloud scan - automatic analysis disabled
  .github/workflows/sonarcloud.yml
Due: prettier --write

fix(cost): update agent type and refine cost estimation logic
  src/lib/unified-cost-aggregator.ts
Due: eslint --fix, prettier --write

chore: decommission AI cost monitoring features
  src/app/admin/costs/UnifiedAiCostsClient.tsx
  src/app/admin/costs/page.tsx
  src/app/api/dev/ai-costs/unified/route.ts
  src/app/api/dev/ai-costs/unified/stream/route.ts
  src/lib/unified-cost-aggregator.ts
Due: eslint --fix, prettier --write

feat(deps): add better-sqlite3 dependency
  package.json
Due: prettier --write

fix(security): correct claude-api-key reference and remove misplaced 1Password step
  .github/workflows/security-review.yml
Due: prettier --write

feat(plugins): Phase 11 security dashboard UI (100% design token compliance)
  src/app/plugins/security/page.tsx
  src/components/plugins/AuditDateTracker.tsx
  src/components/plugins/IncidentTimeline.tsx
  src/components/plugins/PluginListWithTrustScores.tsx
  src/components/plugins/TrustScoreBreakdown.tsx
  src/components/plugins/index.ts
Due: eslint --fix, prettier --write

feat(reviews): add plugin rating & review system API routes and components (Phase 12)
  src/app/api/plugins/[id]/reviews/[reviewId]/route.ts
  src/app/api/plugins/[id]/reviews/route.ts
  src/app/plugins/security/page.tsx
  src/components/plugins/ReviewForm.tsx
  src/components/plugins/ReviewList.tsx
  src/components/plugins/StarRating.tsx
  src/components/plugins/index.ts
  src/lib/plugins/review-store.ts
Due: eslint --fix, prettier --write

feat(reviews): enhance plugin review store with in-memory fallback and detailed review management
  src/lib/plugins/review-store.ts
Due: eslint --fix, prettier --write

feat(plugins): Phase 19 - Public Marketplace UI with search, categories, detail pages, SBOM viewer, and install links
  src/app/plugins/[id]/page.tsx
  src/app/plugins/page.tsx
Due: eslint --fix, prettier --write

fix(nav+cache): add AI to desktop/mobile/footer nav; self-seed GitHub cache on dev miss
  scripts/validate-design-tokens.mjs
  src/lib/github-data.ts
  src/lib/navigation/config.ts
Due: eslint --fix, prettier --write

refactor(nav): consistent order + dedup across all surfaces
  src/components/navigation/site-header.tsx
  src/lib/navigation/config.ts
Due: eslint --fix, prettier --write

feat: Refactor homepage layout and improve performance
  public/search-index.json
  src/app/ai/page.tsx
  src/app/open-source/page.tsx
  src/app/page.tsx
  src/app/plugins/page.tsx
  src/components/about/about-dcyfr-profile.tsx
  src/components/about/agent-profiles-section.tsx
  src/components/common/code-comparison.tsx
  src/components/common/site-logo.tsx
  src/content/blog/ai-assistants-as-development-partners/index.mdx
  src/data/changelog.ts
  src/data/dcyfr.ts
  src/data/projects.ts
  src/lib/design-tokens.ts
  src/lib/logo-config.ts
  src/lib/navigation-config.ts
Due: eslint --fix, prettier --write, node scripts/validate-design-tokens.mjs

content: Tier 1 content audit fixes
  src/app/page.tsx
  src/lib/navigation/config.ts
  src/lib/site-config.ts
Due: eslint --fix, prettier --write

content: Tier 2 content audit — changelog backfill + 3 npm package projects
  src/data/changelog.ts
  src/data/projects.ts
Due: eslint --fix, prettier --write

content: Tier 3 content audit — resume AI positioning + x64 featured
  src/data/projects.ts
  src/data/resume.ts
Due: eslint --fix, prettier --write

fix(work): skip automated repos whose base slug matches a static project
  src/data/projects.ts
  src/lib/projects/repo-to-project.ts
Due: eslint --fix, prettier --write

content: update About page and team copy to reflect AI framework focus
  src/app/about/page.tsx
  src/components/about/about-dcyfr-labs.tsx
  src/data/team.ts
Due: eslint --fix, prettier --write

fix: improve type safety in extractText function for React elements
  src/components/common/code-comparison.tsx
Due: eslint --fix, prettier --write

content: update resume summaries, sponsors, contact meta, security date, and quotes
  src/app/contact/page.tsx
  src/app/security/page.tsx
  src/app/sponsors/page.tsx
  src/data/quotes.ts
  src/data/resume.ts
Due: eslint --fix, prettier --write

fix(ui): add h-full to card grids for dynamic equal-height matching
  src/components/_templates/card-grid.tsx
  src/components/about/agent-profile-card.tsx
  src/components/about/badge-wallet-client.tsx
  src/components/about/badge-wallet.tsx
  src/components/about/profile-capability-card.tsx
  src/components/about/skills-wallet-client.tsx
  src/components/about/skills-wallet.tsx
  src/components/blog/featured-posts-section.tsx
  src/components/common/team-member-card.tsx
  src/components/company-resume/company-overview.tsx
  src/components/company-resume/service-offerings.tsx
  src/components/company-resume/technical-capabilities.tsx
  src/components/resume/resume-stats.tsx
  src/components/sponsors/impact-stats.tsx
Due: eslint --fix, prettier --write

content: update page description and improve quote formatting
  src/app/page.tsx
  src/data/quotes.ts
Due: eslint --fix, prettier --write

chore: update environment variables and improve documentation for 1Password references
  .env.example
  public/search-index.json
  src/data/credly-badges-snapshot.json
  src/lib/agents/actions.ts
Due: eslint --fix, prettier --write

chore: update environment variables and improve documentation for 1Password references
  .env
  .env.ci
  .env.example
  public/search-index.json
  src/data/credly-badges-snapshot.json
  src/lib/agents/actions.ts
Due: eslint --fix, prettier --write

feat(design-system): Phase 1.1-1.4 Playwright setup & visual regression tests
  .gitattributes
  e2e/visual/README.md
  e2e/visual/components.spec.ts
  e2e/visual/pages.spec.ts
  package.json
Due: eslint --fix, prettier --write

fix: update README title to 'DCYFR Labs - Production AI Platform'
  README.md
Due: prettier --write

Path conditions:
  Lint-staged configuration with design token enforcement: any of: comment
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,md,yml,yaml})
  node scripts/validate-design-tokens.mjs: any of: src/lib/design-tokens.ts
