Repository dcyfr/dcyfr-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: Lint-staged configuration with design token enforcement, eslint --fix, prettier --write, node scripts/validate-design-tokens.mjs

.lintstagedrc.json:

{
  "comment": "Lint-staged configuration with design token enforcement",
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/lib/design-tokens.ts": [
    "node scripts/validate-design-tokens.mjs"
  ],
  "*.{js,jsx,mjs,cjs}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

feat: design token standardization + test fixes - 155 violations to 0, 77 test failures to 0
  src/components/blog/rivet/visual/tldr-summary.tsx
Due: eslint --fix, prettier --write

feat: replace MetricsCard with markdown table for time savings data
  src/content/blog/ai-assistants-as-development-partners/index.mdx
Due: none

fix: update security notes for public activity embed and clarify BotID re-enablement steps
  next.config.ts
  src/app/api/contact/route.ts
Due: eslint --fix, prettier --write

fix: add community templates to .gitignore
  .gitignore
Due: none

fix: update robots.ts for consistent quotation style and correct sitemap URL
  src/app/robots.ts
Due: eslint --fix, prettier --write

feat: update tests and enable MCP server functionality
  src/__tests__/app/robots.test.ts
  src/__tests__/lib/security/mcp-integrity.test.ts
  src/app/api/memory/add/route.ts
  src/app/api/memory/search/route.ts
  src/lib/security/adversarial-testing.ts
  src/lib/security/mcp-integrity.ts
  src/mcp/start-content-server.ts
  src/mcp/start-token-server.ts
Due: eslint --fix, prettier --write

feat: update import paths for getMemory in add and search routes
  src/app/api/memory/add/route.ts
  src/app/api/memory/search/route.ts
Due: eslint --fix, prettier --write

refactor: update AgentRouter initialization to use getGlobalAgentRouter from @dcyfr/ai
  package.json
  public/search-index.json
  src/app/api/memory/add/route.ts
  src/app/api/memory/search/route.ts
  src/data/credly-badges-snapshot.json
  src/lib/ai-compat.server.ts
  src/lib/ai-compat.ts
Due: eslint --fix, prettier --write

refactor: rename agent types to avoid naming conflicts
  src/lib/ai-compat.server.ts
  src/lib/ai-compat.ts
Due: eslint --fix, prettier --write

chore: update generatedAt timestamps in search index and credly badges snapshot refactor: remove redundant type definition for AgentCategory in ai-compat files
  public/search-index.json
  src/data/credly-badges-snapshot.json
  src/lib/ai-compat.server.ts
  src/lib/ai-compat.ts
Due: eslint --fix, prettier --write

chore: update next-mdx-remote dependency to version 6.0.0
  package.json
Due: prettier --write

chore(release): version 2026.02.12
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement Phase 1 Auto-CalVer automation
  .github/workflows/auto-calver.yml
  .github/workflows/validation-suite.yml
  package.json
  scripts/bump-version-manual.mjs
  scripts/generate-changelog-entry.mjs
  scripts/migrate-v1-content.mjs
  scripts/release/generate-changelog-entry.mjs
  scripts/release/update-changelog.mjs
  scripts/validate-version.mjs
  src/lib/log-sanitizer.ts
  src/lib/security/prompt-scanner.ts
Due: eslint --fix, prettier --write

security: fix log injection vulnerability in MCP health endpoint
  package.json
  src/app/api/mcp/health/route.ts
Due: eslint --fix, prettier --write

fix(redis): resolve P1 Redis DNS errors and P2 timeouts with comprehensive connection handling
  package-lock.json
  scripts/test-redis-connection.mjs
  src/app/api/health/redis/route.ts
  src/inngest/blog-functions.ts
  src/mcp/shared/redis-client.ts
Due: eslint --fix, prettier --write

Refactor error handling and improve Redis operation timeouts in blog functions
  package.json
  public/search-index.json
  src/data/credly-badges-snapshot.json
  src/inngest/blog-functions.ts
Due: eslint --fix, prettier --write

fix(deps): resolve eslint-plugin-import peer dependency & build issues
  public/search-index.json
  src/data/credly-badges-snapshot.json
  src/mcp/shared/redis-client.ts
Due: eslint --fix, prettier --write

refactor(redis-client): improve error handling and timeout management
  public/search-index.json
  src/data/credly-badges-snapshot.json
Due: prettier --write

feat(middleware): implement production environment protection and route access control
  middleware.ts
  scripts/sync-production-metrics.mjs
  tests/security/environment-segregation.test.ts
Due: eslint --fix, prettier --write

fix(build): resolve Vercel middleware deployment error
  instrumentation.ts
  next.config.ts
  public/search-index.json
  src/data/credly-badges-snapshot.json
  vercel.json
Due: eslint --fix, prettier --write

fix(vercel): remove manual function runtime config causing deployment error
  public/search-index.json
  src/data/credly-badges-snapshot.json
  vercel.json
Due: prettier --write

refactor(build): update build command to use webpack for improved performance refactor(instrumentation): remove unused instrumentation file for cleaner codebase
  instrumentation.ts
  next.config.ts
  package.json
Due: eslint --fix, prettier --write

feat(build): add postbuild script to generate middleware.js.nft.json for Turbopack compatibility
  package.json
  scripts/fix-middleware-nft.mjs
Due: eslint --fix, prettier --write

feat(middleware): add compatibility file for Vercel in Turbopack builds
  scripts/fix-middleware-nft.mjs
Due: eslint --fix, prettier --write

chore: remove unused animation and typography tokens
  c
Due: none

chore: remove middleware and associated postbuild script for Turbopack compatibility
  middleware.ts
  package.json
  scripts/fix-middleware-nft.mjs
  tests/security/environment-segregation.test.ts
Due: eslint --fix, prettier --write
