Repository dcyfr/dcyfr-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: Lint-staged configuration with design token enforcement, eslint --fix, prettier --write, node scripts/validate-design-tokens.mjs

fix(tests): resolve pre-commit blocking test failures
  scripts/validation/check-reports-for-pii.mjs
  src/components/blog/rivet/visual/tldr-summary.tsx
Due: eslint --fix, prettier --write

fix(quality): S3776 reduce cognitive complexity - batch 7 (scripts + src/)
  scripts/add-tlp-markers.mjs
  scripts/analyze-upstash-data-fast.mjs
  scripts/cleanup-broken-links.mjs
  scripts/consolidate-event-driven-engagement.mjs
  scripts/lib/mdx-prose-extractor.mjs
  scripts/migrate-redis-to-upstash.mjs
  scripts/populate-local-cache.mjs
  scripts/security/monitor-upstream-advisories.mjs
  scripts/sync-production-metrics.mjs
  scripts/validate-feeds.mjs
  scripts/validate-sitemap.mjs
  scripts/validation/validate-post-ids.mjs
  scripts/verify-cleanup-safety.mjs
  src/app/api/admin/indexnow/bulk/route.ts
  src/app/api/indexnow/submit/route.ts
  src/components/common/mdx.tsx
  src/inngest/indexnow-functions.ts
  src/lib/indexnow/client.ts
  src/lib/toc.ts
  src/proxy.ts
Due: eslint --fix, prettier --write

fix(quality): S4123 S3735 TypeScript type safety - dcyfr-labs Phase 2C
  src/app/api/ip-reputation/route.ts
  src/app/api/mcp/health/route.ts
  src/components/blog/rivet/engagement/downloadable-asset.tsx
  src/components/blog/rivet/interactive/tab-interface.tsx
  src/inngest/functions/dependency-security-audit.ts
  src/inngest/functions/design-token-validation.ts
  src/inngest/google-indexing-functions.ts
  src/lib/error-handler.ts
  src/lib/security/prompt-scanner.ts
  src/mcp/design-token-server.ts
  src/mcp/shared/rate-limiter.ts
Due: eslint --fix, prettier --write

fix(quality): S4123 S2004 TypeScript type safety - google-indexing-utils.ts
  src/lib/google-indexing-utils.ts
  src/proxy.ts
Due: eslint --fix, prettier --write

fix(quality): S3776 reduce cognitive complexity - batch 8 (components: post-list, ThreadActions, PostInteractions)
  src/components/activity/ThreadActions.tsx
  src/components/blog/post/post-list.tsx
  src/components/common/PostInteractions.tsx
Due: eslint --fix, prettier --write

fix(quality): S131 add default cases to shell script case statements
  scripts/auto-checkpoint.sh
  scripts/session-recovery.sh
Due: none

fix(quality): update generatedAt timestamp in search index and improve type safety in ThreadActions component
  public/search-index.json
  scripts/validate-design-tokens.mjs
  src/components/activity/ThreadActions.tsx
Due: eslint --fix, prettier --write

Refactor code structure for improved readability and maintainability
  public/search-index.json
  src/components/common/PostInteractions.tsx
  src/data/credly-badges-snapshot.json
Due: eslint --fix, prettier --write

feat: update serverExternalPackages and add optional dependencies; improve PostInteractions type safety and add utility functions for IndexNow API response handling
  next.config.ts
  package.json
  public/search-index.json
  src/components/common/PostInteractions.tsx
  src/data/credly-badges-snapshot.json
  src/lib/indexnow/client.ts
Due: eslint --fix, prettier --write

feat(voice): add voice compliance validation script
  package.json
  scripts/validate-voice-compliance.mjs
Due: eslint --fix, prettier --write

fix(quality): S3776 reduce cognitive complexity in contact/route.ts and analytics-filters.tsx
  src/app/api/contact/route.ts
  src/components/analytics/analytics-filters.tsx
Due: eslint --fix, prettier --write

feat(security): add Claude Code Security Review GitHub Action
  .github/security/custom-scan-instructions.md
  .github/security/false-positive-instructions.md
  .github/workflows/security-review.yml
Due: prettier --write

feat(seo): AI visibility — sr-only H1, FAQPage schema, BreadcrumbList, datePublished/dateModified
  scripts/validation/validate-structured-data.ts
  src/app/about/page.tsx
  src/app/blog/page.tsx
  src/app/page.tsx
  src/lib/json-ld.ts
  src/lib/site-config.ts
Due: eslint --fix, prettier --write

chore(seo): bump llms.txt last-updated date to 2026-02-20
  public/llms.txt
Due: none

feat(seo): add automated AI visibility prompt test script
  package.json
  scripts/validation/validate-ai-visibility.ts
Due: eslint --fix, prettier --write

refactor(seo): switch AI visibility script to Perplexity Search API
  scripts/validation/validate-ai-visibility.ts
Due: eslint --fix, prettier --write

feat: add comprehensive wiki documentation for project architecture, design system, API patterns, and security practices
  .devin/wiki.json
Due: prettier --write

fix(quality): S7761 S7767 S3735 S4123 S3516 — SonarCloud batch fixes dcyfr-labs
  scripts/validation/validate-structured-data.ts
  scripts/verify-view-tracking.mjs
  src/__tests__/components/blog-filters.test.tsx
  src/__tests__/components/copy-code-button.test.tsx
  src/__tests__/components/layouts/page-layout.test.tsx
  src/__tests__/hooks/use-section-navigation.test.ts
  src/components/home/trending-technologies-panel.tsx
  src/inngest/activity-cache-functions.ts
  src/lib/rate-limit.ts
  src/lib/security/prompt-scanner.ts
Due: eslint --fix, prettier --write

fix(quality): S2004 reduce function nesting depth - extract helpers in mdx, scroll-to-anchor, blog-functions, search-engine, find-token-violations
  scripts/find-token-violations.mjs
  src/components/common/mdx.tsx
  src/components/features/scroll-to-anchor.tsx
  src/inngest/blog-functions.ts
  src/lib/search/search-engine.ts
Due: eslint --fix, prettier --write

fix(quality): S3776 reduce cognitive complexity in scripts (7 files)
  scripts/backlog/scan-backlog.mjs
  scripts/ci/check-mcp-servers.mjs
  scripts/cleanup-broken-links.mjs
  scripts/generate-compliance-report.mjs
  scripts/validate-doc-location.mjs
  scripts/validate-sitemap.mjs
  scripts/validate-voice-compliance.mjs
Due: eslint --fix, prettier --write

fix(quality): S3776 remediation
  scripts/backlog/scan-backlog.mjs
  scripts/ci/check-mcp-servers.mjs
  scripts/cleanup-broken-links.mjs
  scripts/generate-compliance-report.mjs
  scripts/validate-doc-location.mjs
  scripts/validate-sitemap.mjs
  scripts/validate-voice-compliance.mjs
  src/lib/security/prompt-scanner.ts
Due: eslint --fix, prettier --write

fix(quality): S3776 remediation
  scripts/cleanup-broken-links.mjs
  scripts/validate-sitemap.mjs
  src/lib/security/prompt-scanner.ts
Due: eslint --fix, prettier --write

chore(deps): bump glob from ^10.0.0 to ^13.0.4
  package.json
Due: prettier --write

fix(lint): resolve ESLint 10 compatibility issues
  eslint.config.mjs
  src/components/activity/VirtualActivityFeed.tsx
  src/components/analytics/analytics-export.tsx
  src/components/blog/blog-search-form.tsx
  src/components/blog/post/modern-post-card.tsx
  src/components/blog/rivet/interactive/glossary-tooltip.tsx
  src/components/blog/rivet/interactive/tab-interface.tsx
  src/components/common/dev-tools-dropdown.tsx
  src/components/common/horizontal-rule.tsx
  src/components/features/comments/giscus-comments.tsx
  src/components/features/dev-banner.tsx
  src/components/features/loading-bar.tsx
  src/components/features/theme/theme-toggle.tsx
  src/components/navigation/back-to-top.tsx
  src/components/navigation/site-header.tsx
  src/hooks/use-blog-analytics.ts
  src/hooks/use-reduced-motion.ts
Due: eslint --fix, prettier --write

fix(deps): add eslint override for eslint-config-next ESLint 10 peer deps
  package.json
Due: prettier --write

fix(build): remove orphaned nuclei-templates submodule gitlink
  .gitignore
Due: none

feat(indexnow): add key file verification route and tests
  src/app/[key].txt/route.ts
  tests/unit/indexnow-key-file.test.ts
Due: eslint --fix, prettier --write

test(indexnow): add Inngest function unit tests (16 tests)
  tests/unit/indexnow-functions.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  Lint-staged configuration with design token enforcement: any of: comment
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,md,yml,yaml})
  node scripts/validate-design-tokens.mjs: any of: src/lib/design-tokens.ts
