Repository dcyfr/dcyfr-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: Lint-staged configuration with design token enforcement, eslint --fix, prettier --write, node scripts/validate-design-tokens.mjs

fix: resolve sitemap validation and SonarCloud quality gate failures
  scripts/validate-sitemap.mjs
  sonar-project.properties
  src/app/admin/mcp-health/hooks.ts
  src/app/sitemap.ts
  src/lib/docs.ts
  src/lib/github/cache.ts
  src/lib/projects/repo-to-project.ts
  src/lib/search/build-index.ts
  src/proxy.ts
Due: eslint --fix, prettier --write

fix: close CSS comment in react-flow.css
  src/styles/react-flow.css
Due: none

fix: add NOSONAR to safe anchored regexes and extend coverage exclusions
  sonar-project.properties
  src/lib/docs.ts
Due: eslint --fix, prettier --write

fix: add missing workflows to failure monitor coverage (#453) (#454)
  .github/workflows/workflow-failure-issue-monitor.yml
Due: prettier --write

fix: prevent issue-triage workflow failure loops on inaccessible script repo (#457)
  .github/workflows/issue-triage-automation.yml
Due: prettier --write

feat(security): auto-review SonarCloud hotspots
  package.json
  scripts/security/auto-review-sonar-hotspots.mjs
Due: eslint --fix, prettier --write

fix/issue triage cross repo token (#462)
  package.json
  scripts/security/auto-review-sonar-hotspots.mjs
Due: eslint --fix, prettier --write

feat(ui): install @dcyfr-labs/{dcyfr-card,dcyfr-badge,dcyfr-dialog}
  src/components/ui/dcyfr-badge.tsx
  src/components/ui/dcyfr-card.tsx
  src/components/ui/dcyfr-dialog.tsx
Due: eslint --fix, prettier --write

feat(ui): install Wave 1 primitives + migrate ReviewForm to @dcyfr-labs
  src/components/plugins/ReviewForm.tsx
  src/components/ui/dcyfr-alert.tsx
  src/components/ui/dcyfr-label.tsx
  src/components/ui/dcyfr-textarea.tsx
Due: eslint --fix, prettier --write

docs(agents): stock vs brand-variant sibling adoption rule
  AGENTS.md
Due: prettier --write

fix(ci): use x-cron-secret header in cache-refresh workflow
  .github/workflows/cache-refresh.yml
  src/app/api/admin/populate-cache/route.ts
Due: eslint --fix, prettier --write

test: add comprehensive tests for table-utils, api-cost-calculator, redis-client, api-usage-tracker
  tests/lib/api-cost-calculator.test.ts
  tests/lib/api-usage-tracker.test.ts
  tests/lib/redis-client.test.ts
  tests/lib/table-utils.test.ts
Due: eslint --fix, prettier --write

test: round 7 — targeted coverage for SonarCloud quality gate
  sonar-project.properties
  tests/lib/api-monitor-dev.test.ts
  tests/lib/api-security.test.ts
  tests/lib/redis-client-upstash.test.ts
Due: eslint --fix, prettier --write

fix(ci): repair workflow YAML parse failures in accessibility, auto-merge, and vercel remediation
  .github/workflows/accessibility.yml
  .github/workflows/universal-pr-auto-merge.yml
  .github/workflows/vercel-deployment-remediation.yml
Due: prettier --write

fix(security): override @vercel/microfrontends to 2.3.2 to clear npm audit highs
  package-lock.json
  package.json
Due: prettier --write

fix(ci): stabilize remaining main workflow failures
  .github/workflows/cache-refresh.yml
  .github/workflows/repo-budget-guardrails.yml
  .github/workflows/validation-suite.yml
  scripts/ci/sentry-enricher.mjs
Due: eslint --fix, prettier --write

fix(ci): restore github issue helper for weekly test health
  scripts/ci/github-api.mjs
Due: eslint --fix, prettier --write

fix(ci): skip Lighthouse job on dependabot PRs
  .github/workflows/lighthouse-ci.yml
Due: prettier --write

fix(ci): repair Lighthouse bc syntax error and glob test (#532)
  .github/workflows/performance-monitoring.yml
  src/components/inoreader/feeds-auth.tsx
  src/lib/github/cache.ts
Due: eslint --fix, prettier --write

fix(security): close CodeQL sanitizer cluster (8 high alerts) (#519)
  src/__tests__/agents/agent-unification.test.ts
  src/components/inoreader/feeds-list.tsx
  src/lib/security/prompt-scanner.ts
  tests/security/code-scanning-fixes.test.ts
Due: eslint --fix, prettier --write

fix(deps): override postcss + uuid to close 2 moderates
  package-lock.json
  package.json
Due: prettier --write

fix(deps): override postcss + uuid to close 2 moderates (#538)
  package-lock.json
  package.json
Due: prettier --write

fix(api): persist usage to Redis so monthly cost report has data
  src/__tests__/lib/api-guardrails.test.ts
  src/app/api/research/route.ts
  src/lib/api/api-guardrails.ts
Due: eslint --fix, prettier --write

chore: tier-A repo cleanup — remove dead code, one-shots, unused tooling
  .devin/wiki.json
  .opencode.config.example.json
  CLAUDE.md
  _deprecated/src/app/api/admin/agent-health/route.ts
  _deprecated/src/app/api/analytics/daily/route.ts
  _deprecated/src/app/uses/page.tsx
  migrate_inngest.py
Due: eslint --fix, prettier --write

chore: tier-A2 cleanup — orphan scripts (no live invocation path)
  docs/api/google-indexing-quick-start.md
  docs/features/google-indexing-api.md
  docs/operations/SCRIPTS_INDEX.md
  scripts/setup/cleanup-maintenance.sh
  scripts/setup/setup-opencode.sh
  scripts/utilities/backfill-google-indexing.mjs
  scripts/utilities/migrate-blog-analytics.mjs
  scripts/utilities/secure-api-routes.mjs
Due: eslint --fix, prettier --write

chore: tier-B2 cleanup — Sentry setup + security audit orphans
  docs/operations/SCRIPTS_INDEX.md
  scripts/security/api-security-audit.mjs
  scripts/security/branch-cleanup.mjs
  scripts/security/security-audit.mjs
  scripts/security/sentry-enricher.mjs
  scripts/setup/sentry/configure-sentry.sh
  scripts/setup/sentry/create-sentry-metric-alerts.sh
  scripts/setup/sentry/fix-sentry-alerts.sh
  scripts/setup/sentry/list-sentry-alerts.sh
  scripts/setup/sentry/verify-sentry-events.sh
  scripts/setup/utilities/refactor-globals-css.sh
  scripts/test-cost-tracking.sh
Due: eslint --fix, prettier --write

chore: remove orphan CSP docs (no inbound links)
  docs/security/csp/monitoring.md
  docs/security/csp/violation-monitoring.md
Due: prettier --write

fix(tests): resolve 9 pre-existing typecheck errors in tests/lib/
  tests/lib/api-cost-calculator.test.ts
  tests/lib/api-monitor-dev.test.ts
  tests/lib/blocked-ips.test.ts
  tests/lib/mcp-health-tracker.test.ts
Due: eslint --fix, prettier --write

fix(tests+ci): resolve 9 typecheck errors + close the CI gap that hid them (#544)
  .github/workflows/deploy.yml
  .github/workflows/test-preview-fast.yml
  .github/workflows/test.yml
  tests/lib/api-cost-calculator.test.ts
  tests/lib/api-monitor-dev.test.ts
  tests/lib/blocked-ips.test.ts
  tests/lib/mcp-health-tracker.test.ts
Due: eslint --fix, prettier --write

fix(deps): regenerate package-lock.json to satisfy zod@^4.4.1 transitive (#547)
  package-lock.json
Due: prettier --write

fix(ci): prose-validation — load 1Password secrets BEFORE running validation
  .github/workflows/prose-validation.yml
Due: prettier --write

fix(ci): perf-monitoring sed bug on multi-line LARGEST_CHUNKS / RECOMMENDATIONS (#560)
  .github/workflows/performance-monitoring.yml
Due: prettier --write

fix(ci): prose-validation — load 1Password secrets BEFORE running validation (#562)
  .github/workflows/prose-validation.yml
Due: prettier --write

Path conditions:
  Lint-staged configuration with design token enforcement: any of: comment
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,md,yml,yaml})
  node scripts/validate-design-tokens.mjs: any of: src/lib/design-tokens.ts
