Repository dcyfr/dcyfr-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: Lint-staged configuration with design token enforcement, eslint --fix, prettier --write, node scripts/validate-design-tokens.mjs

.lintstagedrc.json:

{
  "comment": "Lint-staged configuration with design token enforcement",
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/lib/design-tokens.ts": [
    "node scripts/validate-design-tokens.mjs"
  ],
  "*.{js,jsx,mjs,cjs}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

docs: add frontend quality lint rules guide and refresh data
  docs/guides/FRONTEND_QUALITY_LINT_RULES.md
  public/search-index.json
  src/data/credly-badges-snapshot.json
Due: prettier --write

feat(about): update ScrollReveal delay to zero for smoother animations
  src/app/about/page.tsx
  src/components/blog/featured-posts-section.tsx
  src/lib/navigation/config.ts
Due: eslint --fix, prettier --write

fix(images): remove low quality default to fix quality reduction
  next.config.ts
Due: eslint --fix, prettier --write

fix: update import path for utility function 'cn' in FeaturedPostsSection component
  src/components/blog/featured-posts-section.tsx
Due: eslint --fix, prettier --write

fix(blog): remove unused props from BlogPage component
  src/app/blog/page.tsx
Due: eslint --fix, prettier --write

fix(search): remove unnecessary config parameter from applyFilters call in searchItems function
  src/lib/search/search-engine.ts
Due: eslint --fix, prettier --write

.gitignore .turbo
  .gitignore
Due: none

Remove typecheck log file due to outdated error information
  .turbo/turbo-build.log
  .turbo/turbo-lint.log
  .turbo/turbo-test$colon$run.log
  .turbo/turbo-typecheck.log
Due: none

chore(gitignore): ignore Turbo log files
  .gitignore
Due: none

chore: ignore non-example env files
  .gitignore
Due: none

chore(security-tests): checkpoint repo-health hardening updates
  src/__tests__/components/blog/mobile-filter-bar.test.tsx
  src/__tests__/components/blog/post-category-section.test.tsx
  src/__tests__/components/blog/rivet/engagement/newsletter-signup.test.tsx
  src/__tests__/components/navigation/site-header.test.tsx
  src/__tests__/data/resume.test.ts
  src/__tests__/integration/security.test.ts
  src/__tests__/ip-reputation.test.ts
  src/__tests__/lib/rate-limit.test.ts
  src/app/api/engagement/bookmark/route.ts
  src/app/api/engagement/like/route.ts
  src/app/api/plugins/[id]/reviews/route.ts
  src/lib/api/api-security.ts
  tests/security/request-size-limits.test.ts
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

chore(wip): archive checkpoint before branch pruning
  .github/workflows/sonarcloud.yml
  public/search-index.json
  src/__tests__/components/blog/mobile-filter-bar.test.tsx
  src/__tests__/components/blog/post-category-section.test.tsx
  src/__tests__/components/navigation/site-header.test.tsx
  src/__tests__/data/resume.test.ts
  src/__tests__/integration/security.test.ts
  src/__tests__/ip-reputation.test.ts
  src/__tests__/lib/rate-limit.test.ts
  src/app/api/engagement/bookmark/route.ts
  src/data/credly-badges-snapshot.json
  tests/integration/indexnow-submit-api.test.ts
  tests/mocks/handlers/api.ts
  tests/security/penetration/bypass-attempts.test.ts
  tests/security/plugin-reviews-auth.test.ts
  tests/security/request-size-limits.test.ts
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

chore(labs): prune infrastructure overhead — configs, e2e, workflows
  .github/workflows/design-system.yml
  .github/workflows/lighthouse-ci.yml
  .lighthouse/config.json
  .lighthouse/rc.json
  e2e/background-rendering.spec.ts
  e2e/dev-banner.spec.ts
  e2e/mdx-link-styling.spec.ts
  e2e/mobile-navigation.spec.ts
  e2e/mobile-typography.spec.ts
  e2e/reading-progress.spec.ts
  e2e/safe-area.spec.ts
  e2e/touch-targets.spec.ts
  e2e/webkit-mobile-nav.spec.ts
  package.json
  sentry.edge.config.ts
  sentry.sampling.config.ts
  sentry.server.config.ts
  vitest.config.ts
  vitest.scripts.config.ts
Due: eslint --fix, prettier --write

fix(auth): make withAuth generic on context type to fix dynamic route handlers
  src/lib/auth-middleware.ts
Due: eslint --fix, prettier --write

fix(plugins): correct AuthenticatedRequest cast in reviews route
  src/app/api/plugins/[id]/reviews/route.ts
Due: eslint --fix, prettier --write

fix(ci): unblock governance and semgrep checks
  .github/workflows/sast-semgrep.yml
  docs/ai/private/CLAUDE_CODE_ANALYSIS_NAVIGATION.md
  docs/operations/private/PRODUCTION_METRICS_SYNC.md
  docs/operations/private/SYNC_METRICS_QUICK_REF.md
  docs/reports/private/PRODUCTION_BUILD_WARNINGS_ANALYSIS_2026_03_06.md
Due: prettier --write

fix(ci): generate coverage before Sonar scan
  .github/workflows/sonarcloud.yml
Due: prettier --write

feat(contacts): sync contact form contacts to Resend synchronously
  src/__tests__/integration/api-contact.test.ts
  src/__tests__/integration/api-newsletter.test.ts
  src/app/api/contact/route.ts
  src/app/api/newsletter/route.ts
  src/inngest/contact-functions.ts
  src/lib/__tests__/resend-contact-sync.test.ts
  src/lib/resend-contact-sync.ts
Due: eslint --fix, prettier --write

feat(contacts): Resend contact sync for newsletter and contact form (#337)
  .env.example
  .github/workflows/pr-review-automation.yml
  .github/workflows/sast-semgrep.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/verified-commits.yml
  .github/workflows/visual-regression.yml
  CONTRIBUTING.md
  SECURITY.md
  docs/ai/private/CLAUDE_CODE_ANALYSIS_NAVIGATION.md
  docs/deployment/verified-commits.md
  docs/operations/branch-protection-config.md
  docs/operations/private/PRODUCTION_METRICS_SYNC.md
  docs/operations/private/SYNC_METRICS_QUICK_REF.md
  docs/reports/private/PRODUCTION_BUILD_WARNINGS_ANALYSIS_2026_03_06.md
  src/__tests__/integration/api-contact.test.ts
  src/__tests__/integration/api-newsletter.test.ts
  src/app/api/contact/route.ts
  src/app/api/newsletter/route.ts
  src/inngest/contact-functions.ts
  src/lib/__tests__/resend-contact-sync.test.ts
  src/lib/resend-contact-sync.ts
Due: eslint --fix, prettier --write

chore(security-tests): checkpoint repo-health hardening updates (#330)
  src/__tests__/components/blog/rivet/engagement/newsletter-signup.test.tsx
  src/__tests__/ip-reputation.test.ts
  src/app/api/engagement/bookmark/route.ts
  src/app/api/engagement/like/route.ts
  src/app/api/plugins/[id]/reviews/route.ts
  src/lib/api/api-security.ts
  tests/security/request-size-limits.test.ts
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

feat(infra): migrate scheduled Inngest jobs to Vercel Cron, add WAF rules, add StaticDiagram component
  .husky/pre-commit
  content/diagrams/.gitkeep
  content/diagrams/api-architecture.md
  content/diagrams/auth-flow.md
  content/diagrams/feature-comparison.md
  public/diagrams/.gitkeep
  src/app/api/cron/aggregate-referrals/route.ts
  src/app/api/cron/calculate-trending/route.ts
  src/app/api/cron/daily-analytics-summary/route.ts
  src/app/api/cron/daily-security-test/route.ts
  src/app/api/cron/ip-reputation-check/route.ts
  src/app/api/cron/monitor-api-costs/route.ts
  src/app/api/cron/monthly-api-cost-report/route.ts
  src/app/api/cron/refresh-activity-feed/route.ts
  src/app/api/cron/refresh-credly-cache/route.ts
  src/app/api/cron/refresh-github-data/route.ts
  src/app/api/cron/security-advisory-monitor/route.ts
  src/app/api/cron/session-cleanup/route.ts
  src/app/api/cron/session-monitoring/route.ts
  src/app/api/cron/session-security-audit/route.ts
  src/app/api/cron/sync-devto-metrics/route.ts
  src/app/api/cron/sync-inoreader-feeds/route.ts
  src/app/api/cron/sync-vercel-analytics/route.ts
  src/app/api/cron/update-analytics-milestones/route.ts
  src/app/api/cron/verify-indexnow-key/route.ts
  src/app/api/inngest/route.ts
  src/components/StaticDiagram.tsx
  src/inngest/github-functions.ts
  src/inngest/security-functions.ts
  src/lib/cron-auth.ts
  src/lib/rate-limit.ts
  vercel.json
Due: eslint --fix, prettier --write

docs(security): align verified-commits branch protection guidance
  SECURITY.md
Due: prettier --write

fix(newsletter): explicitly assign contact to Resend segment via dedicated endpoint
  src/__tests__/integration/api-newsletter.test.ts
  src/app/api/newsletter/route.ts
Due: eslint --fix, prettier --write

fix(contact+newsletter): harden contact scan fallback and use segment-only newsletter contacts
  src/__tests__/integration/api-newsletter.test.ts
  src/app/api/newsletter/route.ts
Due: eslint --fix, prettier --write

chore: checkpoint before merge cleanup
  .github/workflows/pr-review-automation.yml
Due: prettier --write

feat(contacts): sync contact form contacts to Resend synchronously
  src/__tests__/integration/api-newsletter.test.ts
  src/app/api/newsletter/route.ts
Due: eslint --fix, prettier --write

chore: update typescript version to 5.9.3 and remove duplicate entry in package.json
  LICENSE
  package-lock.json
  package.json
Due: prettier --write

fix: replace deprecated Twitter icon with XIcon from lucide-react 1.x
  src/components/sections/social-links-grid.tsx
Due: eslint --fix, prettier --write

fix: replace deprecated Twitter icon with XIcon (lucide-react 1.x)
  src/components/analytics/social-metrics.tsx
Due: eslint --fix, prettier --write

fix: replace deprecated Twitter icon with XIcon (lucide-react 1.x)
  src/components/activity/ThreadShareButton.tsx
Due: eslint --fix, prettier --write

fix: replace deprecated Twitter icon with XIcon (lucide-react 1.x)
  src/components/features/sharing/share-buttons.tsx
Due: eslint --fix, prettier --write

fix: correct 1Password vault path for vercel automation bypass secret (Production, not Development)
  .github/workflows/test.yml
Due: prettier --write

fix: replace removed Twitter icon with XIcon from lucide-react 1.x (#352)
  .github/workflows/test.yml
  src/components/activity/ThreadShareButton.tsx
  src/components/analytics/social-metrics.tsx
  src/components/features/sharing/share-buttons.tsx
  src/components/sections/social-links-grid.tsx
Due: eslint --fix, prettier --write

fix: pin TypeScript to 5.9.3 with override (replaces #349) (#351)
  package-lock.json
  package.json
Due: prettier --write

fix: correct 1Password vault path for vercel automation bypass secret
  .github/workflows/vercel-checks.yml
Due: prettier --write

feat(security): enforce Vercel verified commits on preview + production
  SECURITY.md
Due: prettier --write
