Repository dcyfr/dcyfr-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: Lint-staged configuration with design token enforcement, eslint --fix, prettier --write, node scripts/validate-design-tokens.mjs

.lintstagedrc.json:

{
  "comment": "Lint-staged configuration with design token enforcement",
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/lib/design-tokens.ts": [
    "node scripts/validate-design-tokens.mjs"
  ],
  "*.{js,jsx,mjs,cjs}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

docs(changelog): add IndexNow integration entry for 2026.02.21
  CHANGELOG.md
Due: prettier --write

docs(indexnow): add SEO & IndexNow section to README
  README.md
Due: prettier --write

fix(security): S7688 use [[ instead of [ in pre-commit hook scripts
  scripts/hooks/pre-commit-governance
  scripts/hooks/pre-commit.lgtm-check
Due: none

docs: add Quality Gates section to AGENTS.md (workspace-health-remediation 4.6)
  AGENTS.md
Due: prettier --write

docs(indexnow): add SEO channel-priority, Bing/Webmaster setup, content-team runbook, bulk reindex script (tasks 9.3-9.4, 11.11-11.13)
  docs/features/SEO_CHANNEL_PRIORITY.md
  docs/runbooks/BING_WEBMASTER_SETUP.md
  docs/runbooks/INDEXNOW_CONTENT_TEAM.md
  scripts/reindex-all.mjs
Due: eslint --fix, prettier --write

docs(seo): YouTube automation guide, Reddit policy-safe workflow, channel monitoring
  docs/INDEX.md
  docs/optimization/README.md
  docs/optimization/channel-automation-monitoring.md
  docs/optimization/reddit-policy-safe-workflow.md
  docs/optimization/youtube-seo-automation-guide.md
Due: prettier --write

docs: add live demo and performance metrics to README
  README.md
Due: prettier --write

docs(readme): add ROI calculator showing 288-380 hours saved
  README.md
Due: prettier --write

docs(readme): add reference implementation notice
  README.md
Due: prettier --write

fix(tests): update include paths for script tests in Vitest configuration
  vitest.scripts.config.ts
Due: eslint --fix, prettier --write

docs: Add lighthouse performance testing documentation
  docs/testing/lighthouse/README.md
Due: prettier --write

fix(licensing): rename LICENSE.md → LICENSE for tooling compatibility
  LICENSE
Due: none

chore: add 1Password op:// references for secrets
  .env
  .gitignore
Due: none

chore(security): migrate secrets to 1Password op:// references
  .env
  .env.example
Due: none

feat(ci): integrate 1Password secrets in workflows
  .env.ci
  .github/workflows/cache-refresh.yml
  .github/workflows/lighthouse-ci.yml
Due: prettier --write

feat(ci): batch integrate 1Password across all workflows
  .env.ci
  .github/workflows/nuclei-scan.yml
  .github/workflows/prose-validation.yml
  .github/workflows/sast-semgrep.yml
  .github/workflows/security-review.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/sync-production-metrics.yml
  .github/workflows/test-preview-fast.yml
  .github/workflows/test.yml
  .github/workflows/vercel-checks.yml
  .github/workflows/visual-regression.yml
  .github/workflows/weekly-test-health.yml
Due: prettier --write

security: add global middleware and dev route guards
  src/app/api/dev/verify-redis-env/route.ts
  src/middleware.ts
Due: eslint --fix, prettier --write

chore: update auto-generated data files and add opencode config example
  .env.opencode.example
  public/search-index.json
  src/data/credly-badges-snapshot.json
Due: prettier --write

chore: remove middleware.ts and consolidate security logic into proxy.ts; add guardrail documentation for middleware/proxy coexistence
  docs/guardrails/NEXTJS_MIDDLEWARE_PROXY_CONFLICT.md
  public/search-index.json
  src/middleware.ts
  src/proxy.ts
Due: eslint --fix, prettier --write

chore: add DeepWiki badge to README for enhanced visibility
  README.md
Due: prettier --write

feat(observability): migrate next-axiom to @axiomhq modular suite
  .env.example
  next.config.ts
  package.json
  src/__tests__/app/root-layout.test.tsx
  src/app/api/axiom/route.ts
  src/app/layout.tsx
  src/lib/axiom/server-logger.ts
  src/lib/axiom/web-vitals.tsx
  src/lib/delegation/observability.ts
  src/middleware.ts
Due: eslint --fix, prettier --write

fix(tests): stub VERCEL_ENV=production in dev-page-blocking security tests
  src/__tests__/integration/security.test.ts
Due: eslint --fix, prettier --write

feat: add Axiom monitoring configuration and update CodeQL metadata
  .env
  codeql/custom/javascript/javascript.testproj/codeql-database.yml
  codeql/custom/javascript/javascript.testproj/db-javascript/default/extraction_time.rel
  codeql/custom/javascript/javascript.testproj/db-javascript/default/extraction_time.rel.meta
  codeql/custom/javascript/javascript.testproj/diagnostic/cli-diagnostics-add-20260217T015405.131Z.json
  codeql/custom/javascript/javascript.testproj/diagnostic/cli-diagnostics-add-20260223T072949.660Z.json
  codeql/custom/javascript/javascript.testproj/trap/javascript/Users/drew/DCYFR/code/dcyfr-workspace/dcyfr-labs/codeql/custom/javascript/codeql-pack.lock.yml.trap.gz
  codeql/custom/javascript/javascript.testproj/trap/javascript/Users/drew/DCYFR/code/dcyfr-workspace/dcyfr-labs/codeql/custom/javascript/codeql-pack.yml.trap.gz
Due: prettier --write

feat: add Axiom monitoring configuration and update CodeQL metadata
  codeql/custom/javascript/javascript.testproj/codeql-database.yml
  codeql/custom/javascript/javascript.testproj/db-javascript/default/extraction_time.rel
  codeql/custom/javascript/javascript.testproj/db-javascript/default/extraction_time.rel.meta
  codeql/custom/javascript/javascript.testproj/diagnostic/cli-diagnostics-add-20260217T015405.131Z.json
  codeql/custom/javascript/javascript.testproj/diagnostic/cli-diagnostics-add-20260223T072949.660Z.json
  codeql/custom/javascript/javascript.testproj/trap/javascript/Users/drew/DCYFR/code/dcyfr-workspace/dcyfr-labs/codeql/custom/javascript/codeql-pack.lock.yml.trap.gz
  codeql/custom/javascript/javascript.testproj/trap/javascript/Users/drew/DCYFR/code/dcyfr-workspace/dcyfr-labs/codeql/custom/javascript/codeql-pack.yml.trap.gz
Due: prettier --write

fix(proxy): merge Axiom logging into proxy.ts; remove conflicting middleware.ts
  .husky/pre-commit
  src/middleware.ts
  src/proxy.ts
Due: eslint --fix, prettier --write

fix(deps): add @axiomhq/js@1.4.0 peer dep required by @axiomhq/logging
  package.json
Due: prettier --write

fix(deps): add package-lock.json
  package-lock.json
Due: prettier --write

fix: regenerate lockfile in sync with package.json
  package-lock.json
Due: prettier --write

ci: add PR review and issue triage automation workflows (dry-run)
  .github/workflows/issue-triage-automation.yml
  .github/workflows/pr-review-automation.yml
Due: prettier --write
